.list{
    display: grid;
    grid-template-columns: 18% 28% 27% 27%;
    margin-bottom: 1rem;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    word-break: break-all;
}

.img{
    width: 75%;
    border-radius: 15%;
    margin: auto .5rem;
}

.spanT{
    text-decoration: underline;
    font-weight: bold;
}

.created, .casting, .title{
    text-align: center;
}

.created, .casting{
    font-size: .6rem;
}


@media screen and (min-width : 550px ) and (max-width : 900px){
    .list-principal{
        display: grid;
        grid-template-columns: 50% 50%;
        list-style: none;
    }
    .list{
        display: inline;
    }
    .title{
        margin-bottom: .5rem;
    }
    .list-s{
        list-style: none;
        margin-bottom: .1rem;
    }
    .list-s ::after {
        content: ", ";
    }
    .img{
        width: 60%;
        border-radius: 15%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .5rem;
    }
    .created, .casting{
        font-size: .8rem;
        margin-bottom: .5rem;
    }
    
}

@media screen and ( min-width : 901px ) {
    .list-principal{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        list-style: none;
    }
    .list{
        display: inline;
    }
    .title{
        margin-bottom: .5rem;
    }
    .list-s{
        list-style: none;
        margin-bottom: .1rem;
    }
    .list-s ::after {
        content: ", ";
    }
    .img{
        width: 60%;
        border-radius: 15%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .5rem;
    }
    .created, .casting{
        font-size: .8rem;
        margin-bottom: .5rem;
    }
}
